<nz-card>
  <nz-comment [nzAuthor]="authorNameTemplate" [nzDatetime]="dateTemplate">
    <ng-template #authorNameTemplate>
      <a href="{{PageRoutes.profile}}/{{data.authorName}}">{{data.authorName}}</a>
    </ng-template>
    <ng-template #dateTemplate>
      <a href="{{PageRoutes.oneTweet}}/{{data.id}}">{{(data.createdAt | date:'short') ?? ''}}</a>
    </ng-template>
    <nz-avatar
      nz-comment-avatar
      nzIcon="user"
      [nzSrc]="data.authorProfilePicture?? ''"
    ></nz-avatar>
    <nz-comment-content>
      <p>{{ data.content }}</p>
    </nz-comment-content>
    <nz-comment-action>
      <button nz-button nzType="link" (click)="likeTweet()">
        <i nz-icon nzType="heart" nzTheme="outline"></i> {{ data.likeCount }}
      </button>
    </nz-comment-action>
    <nz-comment-action>
        <ng-template #modalContent let-modal>
          <h4 nz-typography>Tweet</h4>
          <nz-card>
            <nz-comment [nzAuthor]="authorNameTemplate" [nzDatetime]="(data.createdAt | date:'short') ?? ''">
              <ng-template #authorNameTemplate>
                <a href="{{PageRoutes.profile}}/{{data.authorName}}">{{data.authorName}}</a>
              </ng-template>
              <nz-avatar
                nz-comment-avatar
                nzIcon="user"
                [nzSrc]="data.authorProfilePicture?? ''"
              ></nz-avatar>
              <nz-comment-content>
                <p>{{ data.content }}</p>
              </nz-comment-content>
            </nz-comment>
          </nz-card>
          <h4 nz-typography class="replyTitle">Reply</h4>
          <nz-card>
<!--            <nz-comment [nzAuthor]="userService.getLoggedInUser()?.username">-->
            <nz-comment>
              <nz-comment-content>
                <textarea [(ngModel)]="textValue" nz-input placeholder="Please input content here"></textarea>
              </nz-comment-content>
            </nz-comment>
          </nz-card>
        </ng-template>
      <button nz-button nzType="link" (click)="reply(modalContent)">
        <i nz-icon nzType="message" nzTheme="outline"></i> {{ data.replyCount }}
      </button>
    </nz-comment-action>
    <nz-comment-action *ngIf="this.data.authorName === this.userService.getLoggedInUser()?.username">
      <button nz-button nzType="link" (click)="deleteTweet()">
        <i nz-icon nzType="delete" nzTheme="outline" style="color: red"></i><span nz-typography nzType="danger"> Delete</span>
      </button>
    </nz-comment-action>
  </nz-comment>
</nz-card>

