<nz-card>
  <nz-comment [nzAuthor]="data.authorName" [nzDatetime]="(data.createdAt | date:'short') ?? ''">
    <nz-avatar
      nz-comment-avatar
      nzIcon="user"
      [nzSrc]="data.authorProfilePicture"
    ></nz-avatar>
    <nz-comment-content>
      <p>{{ data.content }}</p>
    </nz-comment-content>
    <nz-comment-action>
      <button nz-button nzType="link" (click)="likeTweet()">
        <i nz-icon nzType="heart" nzTheme="outline"></i> {{ data.likeCount }}
      </button>
    </nz-comment-action>
    <nz-comment-action>
      <button nz-button nzType="link" (click)="reply()">
        <i nz-icon nzType="message" nzTheme="outline"></i> {{ data.replyCount }}
      </button>
    </nz-comment-action>
  </nz-comment>
</nz-card>
