
      .login-form {
        max-width: 300px;
        margin-top: 50px;
        margin-inline: auto;
        border: 1px solid gray;
        padding: 50px;
      }

      .login-form-margin {
        margin-bottom: 16px;
      }

      .login-form-forgot {
        float: right;
      }

      .login-form-button {
        width: 100%;
      }
