
    <nz-layout>
      <nz-header>
        <div class="logo"></div>
        <div nz-row>
          <div nz-col nzSpan="8">
            <ul nz-menu nzTheme="dark" nzMode="horizontal">
            <li nz-menu-item><a href="/tweets">Tweets</a></li>
            <li nz-menu-item>nav 2</li>
            <li nz-menu-item>nav 3</li>
          </ul></div>
          <nz-row nz-col nzSpan="8" nzOffset="8" nzJustify="end" class="right-menu">
            <ul nz-menu nzTheme="dark" nzMode="horizontal">
              <li nz-menu-item><a href="{{PageRoutes.login}}" >Login</a></li>
              <li nz-menu-item><a href="{{PageRoutes.register}}">Registration</a></li>
              <li nz-menu-item>Profile</li>
            </ul>
          </nz-row>
        </div>

      </nz-header>
      <nz-content class="content">
        <div nz-row>
          <div nz-col nzSpan="12" nzOffset="6">
            <router-outlet></router-outlet>
          </div>
        </div>
      </nz-content>
      <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
    </nz-layout>
