.logo {
  height: 40px;
  float: left;
}

.menu-item {
  display: flex;
  align-items: center;
}

[nz-menu] {
  line-height: 64px;
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-content {
  padding: 0 50px;
}

nz-footer {
  text-align: center;
}

.inner-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}

.content {
  margin-top: 40px;
}

.right-menu {
  display: flex;
  margin-right: auto;
}

nz-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nz-content {
  flex: 1 0 auto;
}

nz-footer {
  flex-shrink: 0;
}
